
.DS_Store
EFI/.DS_Store
EFI/CLOVER/.DS_Store
EFI/CLOVER/ACPI/.DS_Store
EFI/CLOVER/themes/.DS_Store
EFI/CLOVER/themes/.DS_Store
EFI/CLOVER/kexts/.DS_Store
.DS_Store
EFI/CLOVER/.DS_Store
EFI/CLOVER/.DS_Store
