<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 slide=0 kext-dev-mode=1</string>
		<key>DefaultVolume</key>
		<string>Mac</string>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>HideEntries</key>
		<dict>
			<key>Duplicate</key>
			<true/>
			<key>ExternalUEFI</key>
			<true/>
			<key>Gentoo</key>
			<false/>
			<key>Grub</key>
			<false/>
			<key>InternalUEFI</key>
			<true/>
			<key>OSXInstall</key>
			<false/>
			<key>OpticalUEFI</key>
			<true/>
			<key>Recovery</key>
			<false/>
			<key>Ubuntu</key>
			<false/>
			<key>WindowsEFI</key>
			<true/>
		</dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>YosemiteLogin</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleIntelCpuPM Kernel Panic fix</string>
				<key>Find</key>
				<data>4gAAAA8w</data>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>4gAAAJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>still waiting for root device part1</string>
				<key>Find</key>
				<data>60wAAOoD</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>60wAAOgB</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>still waiting for root device part2</string>
				<key>Find</key>
				<data>dA5IjT2lkAAA</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>v8gAAACQkJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>fall back to old SMC mode for OS X 10.8.5</string>
				<key>Find</key>
				<data>SIXAdRBIjT19UA==</data>
				<key>Name</key>
				<string>AppleSMC</string>
				<key>Replace</key>
				<data>SIXA625IjT19VQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>No Panic on MacPro4,1 - 5,1</string>
				<key>Find</key>
				<data>cgoATWFjUHJvNCwxAE1hY1BybzUsMQBY</data>
				<key>Name</key>
				<string>AppleTyMCEDriver</string>
				<key>Replace</key>
				<data>cgoAAAAAAAAAAAAAAAAAAAAAAAAAAABY</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>10</string>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>MountEFI</key>
		<true/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/22/11</string>
		<key>BiosVendor</key>
		<string>Apple Computer, Inc.</string>
		<key>BiosVersion</key>
		<string>MBP81.88Z.0047.B0E.1104221557</string>
		<key>Board-ID</key>
		<string>Mac-94245B3640C91C81</string>
		<key>BoardManufacturer</key>
		<string>Apple Computer, Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Computer, Inc.</string>
		<key>ChassisType</key>
		<integer>8</integer>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Computer, Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
		<key>SerialNumber</key>
		<string>C02H7VRJDH2G</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
